name: Android Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: |
        npm install -g expo-cli eas-cli
        npm install

    - name: Set Expo token
      run: echo "EXPO_TOKEN=${{ secrets.EXPO_TOKEN }}" >> $GITHUB_ENV
    - name: Verify Expo token
      run: eas whoami
      env:
        EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}

    - name: Configure EAS
      run: eas build:configure --non-interactive

    - name: Build Android app
      run: eas build -p android --profile preview --non-interactive
